/target
*.md
*.txt
!README.md
!TODO.md
!CONTRIBUTING.md

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.cache

# Sensitive data
*.env
*.pem
