# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.blog/open-source/maintainers/keeping-repository-maintainer-information-accurate/

##################### NOTE #####################
# A CODEOWNERS file uses a pattern that follows most of the same rules used in gitignore files. 
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.
################################################

# These owners will be the default owners for everything in the repo.
# They will be requested for review when someone opens a pull request.
* @gacallea

################################################

# To protect a repository fully against unauthorized changes, 
# define a CODEOWNERS file in the .github or docs directory
# and define the repository owner as the owner of the whole directory
/.github/ @gacallea
/docs/ @gacallea

################################################

