name: build and release

permissions:
  contents: write

on:
  push:
    tags:
      - "v*.*.*"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - os: ubuntu-20.04
            rust_target: x86_64-unknown-linux-gnu
            ext: ""
            args: ""
          - os: macos-latest
            rust_target: x86_64-apple-darwin
            ext: ""
            args: ""
          - os: macos-latest
            rust_target: aarch64-apple-darwin
            ext: ""
            args: ""
          - os: windows-latest
            rust_target: x86_64-pc-windows-msvc
            ext: ".exe"
            args: ""

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: cargo build --release --verbose
      - name: Run tests
        run: cargo test --verbose
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            README.md
            LICENSE-APACHE
            LICENSE-MIT
            target/release/freesound_credits
