name: Markdownlint

on:
  push:
  pull_request:

jobs:
  markdownlint:
    name: markdownlint-cli2
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: DavidAnson/markdownlint-cli2-action@v19
        with:
          config: ".markdownlint-cli2.yaml"
          fix: false
          continue-on-error: false
